[Unit]
Description=Joystick HID service
After=bluetooth.target
Requires=bluetooth.target

[Service]
Type=exec
ExecStart=/bin/bash /home/pi/HIDpi/boot.sh
WorkingDirectory=/home/pi/HIDpi/
Restart=on-success
User=pi

[Install]
WantedBy=multi-user.target