[Unit]
Description=Joystick HID service
After=bluetooth.target
Requires=bluetooth.target

[Service]
Type=exec
ExecStart=python -m /home/pi/HIDpi/hidpi
Restart=on-success

[Install]
WantedBy=multi-user.target